<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label "コメント者" %><br>
    <%= form.text_field :commenter_name, class: "form-control" %>
  </p>
  <p>
    <%= form.label "コメント本文" %><br>
    <%= form.text_area :body , class: "form-control" %>
  </p>
  <div class="text-right">
    <p>
      <%= form.submit "送信", class: "btn btn-primary" %>
    </p>
  </div>

<% end %>