<%= form_with model: @article, local: true do |form| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= form.label "タイトル" %><br>
    <%= form.text_field :title, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label "本文" %><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>
  
  <div class="text-right">
    <%= link_to 'キャンセル', articles_path, class: "btn btn-light" %>
    <span>
      <% if request.path_info == new_article_path %>
        <%= form.submit "作成", class: "btn btn-primary" %>
      <% else %>
        <%= form.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </span> 
    
  </div>
<% end %>

